@{
    ViewData["Title"] = "About";
}

<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Am I?</h3>
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGqdcX-aGlKEQ/profile-displayphoto-shrink_400_400/0/1645042514632?e=1666828800&v=beta&t=75bHb0gvXdM-igD04xh8qugUrJ8MnhxMpL_l6lnIvvk" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Yazılım Geliştirici Olmaya Çalışıyor ...</h3>
</div>

<style>
    img {
        border-radius:50%;
    }
</style>