
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><a href="https://github.com/semihtulgar">github.com/semihtulgar</a></h5>
    </div>
</div>